@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html[data-theme="light"] {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border-radius: 12px;
  --color: #14151b;
  --background: #dfe3f8;
  --background-dark: #bcc0d9;
  --background-light: #e7eafb;
  --background-lighter: #f2f4fb;
  --green: #37c157;
  --red: #e34b4b;
  --yellow: #f2d024;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

html[data-theme="dark"] {
  border-radius: 12px;
  --color: #ced3ef;
  --background: #14151b;
  --background-light: #191b22;
  --background-lighter: #24262f;
  --background-dark: #0b0b0f;
  --green: #52c36d;
  --red: #dd5656;
  --yellow: #f1d54b;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    border-radius: 12px;
    --color: #ced3ef;
    --background: #14151b;
    --background-light: #191b22;
    --background-dark: #0b0b0f;
    --background-lighter: #24262f;

    --green: #52c36d;
    --red: #dd5656;
    --yellow: #f1d54b;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }
}

html,
body {
  scroll-behavior: smooth;
  background: transparent;
  border-radius: 12px !important;

  color: var(--color);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}


::-webkit-scrollbar-track:horizontal {
  background: var(--background-light);
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  border: 4px solid var(--background);
  background: var(--background-dark);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}


::-webkit-scrollbar-thumb:horizontal {
  border: 4px solid var(--background-light);
  background: var(--background-dark);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.source-item .source-codes {
  border-left: 1px solid var(--background-lighter);
}

* {
  transition: 0.2s background ease-out;
  -moz-transition: 0.2s background ease-out;
  -ms-transition: 0.2s background ease-out;
  -o-transition: 0.2s background ease-out;
  -webkit-transition: 0.2s background ease-out;
}

#root,
#app {
  background-color: var(--background);
  overflow: hidden;
  border-radius: 12px !important;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  -ms-border-radius: 12px !important;
  -o-border-radius: 12px !important;
}

.editor-widget.suggest-widget {
  border-radius: 6px !important;
  padding: 4px !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -ms-border-radius: 6px !important;
  -o-border-radius: 6px !important;
}

.monaco-list-row.focused {
  border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
}

.monaco-scrollable-element.mac {
  box-shadow: none !important;
}

.monaco-editor {
  --vscode-foreground: #cccccc;
  --vscode-disabledForeground: rgba(204, 204, 204, 0.5);
  --vscode-errorForeground: #f48771;
  --vscode-descriptionForeground: rgba(204, 204, 204, 0.7);
  --vscode-icon-foreground: #c5c5c5;
  --vscode-focusBorder: #007fd4;
  --vscode-textSeparator-foreground: rgba(255, 255, 255, 0.18);
  --vscode-textLink-foreground: #3794ff;
  --vscode-textLink-activeForeground: #3794ff;
  --vscode-textPreformat-foreground: #d7ba7d;
  --vscode-textBlockQuote-background: rgba(127, 127, 127, 0.1);
  --vscode-textBlockQuote-border: rgba(0, 122, 204, 0.5);
  --vscode-textCodeBlock-background: rgba(10, 10, 10, 0.4);
  --vscode-widget-shadow: transparent !important;
  --vscode-input-background: var(--background-light) !important;
  --vscode-input-foreground: var(--color) !important;
  --vscode-inputOption-activeBorder: transparent !important;
  --vscode-inputOption-hoverBackground: var(--color) !important;
  --vscode-inputOption-activeBackground: var(--color) !important;
  --vscode-inputOption-activeForeground: var(--background) !important;
  --vscode-input-placeholderForeground: rgba(204, 204, 204, 0.5);
  --vscode-inputValidation-infoBackground: var(--color) !important;
  --vscode-inputValidation-infoBorder: var(--color) !important;
  --vscode-inputValidation-warningBackground: #352a05;
  --vscode-inputValidation-warningBorder: #b89500;
  --vscode-inputValidation-errorBackground: #5a1d1d;
  --vscode-inputValidation-errorBorder: #be1100;
  --vscode-dropdown-background: var(--background) !important;
  --vscode-dropdown-foreground: var(--color) !important;
  --vscode-dropdown-border: var(--background) !important;
  --vscode-button-foreground: #ffffff;
  --vscode-button-separator: rgba(255, 255, 255, 0.4);
  --vscode-button-background: #0e639c;
  --vscode-button-hoverBackground: #1177bb;
  --vscode-button-secondaryForeground: #ffffff;
  --vscode-button-secondaryBackground: #3a3d41;
  --vscode-button-secondaryHoverBackground: #45494e;
  --vscode-badge-background: #4d4d4d;
  --vscode-badge-foreground: #ffffff;
  --vscode-scrollbar-shadow: #000000;
  --vscode-scrollbarSlider-background: rgba(121, 121, 121, 0.4);
  --vscode-scrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
  --vscode-scrollbarSlider-activeBackground: rgba(191, 191, 191, 0.4);
  --vscode-progressBar-background: #0e70c0;
  --vscode-editorError-foreground: #f14c4c;
  --vscode-editorWarning-foreground: #cca700;
  --vscode-editorInfo-foreground: #3794ff;
  --vscode-editorHint-foreground: rgba(238, 238, 238, 0.7);
  --vscode-sash-hoverBorder: #007fd4;
  --vscode-editor-background: var(--background-light) !important;
  --vscode-editor-foreground: #d4d4d4;
  --vscode-editorStickyScroll-background: var(--background-light) !important;
  --vscode-editorStickyScrollHover-background: #2a2d2e;
  --vscode-editorWidget-background: var(--background) !important;
  --vscode-editorWidget-foreground: #cccccc;
  --vscode-editorWidget-border: #454545;
  --vscode-quickInput-background: var(--background) !important;
  --vscode-quickInput-foreground: var(--color) !important;
  --vscode-quickInputTitle-background: rgba(255, 255, 255, 0.1);
  --vscode-pickerGroup-foreground: var(--color);
  --vscode-pickerGroup-border: #3f3f46;
  --vscode-keybindingLabel-background: rgba(128, 128, 128, 0.17);
  --vscode-keybindingLabel-foreground: #cccccc;
  --vscode-keybindingLabel-border: rgba(51, 51, 51, 0.6);
  --vscode-keybindingLabel-bottomBorder: rgba(68, 68, 68, 0.6);
  --vscode-editor-selectionBackground: #264f78;
  --vscode-editor-inactiveSelectionBackground: #3a3d41;
  --vscode-editor-selectionHighlightBackground: rgba(173, 214, 255, 0.15);
  --vscode-editor-findMatchBackground: #515c6a;
  --vscode-editor-findMatchHighlightBackground: rgba(234, 92, 0, 0.33);
  --vscode-editor-findRangeHighlightBackground: rgba(58, 61, 65, 0.4);
  --vscode-searchEditor-findMatchBackground: rgba(234, 92, 0, 0.22);
  --vscode-search-resultsInfoForeground: rgba(204, 204, 204, 0.65);
  --vscode-editor-hoverHighlightBackground: rgba(38, 79, 120, 0.25);
  --vscode-editorHoverWidget-background: var(--background) !important;
  --vscode-editorHoverWidget-foreground: #cccccc;
  --vscode-editorHoverWidget-border: #454545;
  --vscode-editorHoverWidget-statusBarBackground: var(--background) !important;
  --vscode-editorLink-activeForeground: #4e94ce;
  --vscode-editorInlayHint-foreground: #969696;
  --vscode-editorInlayHint-background: rgba(77, 77, 77, 0.1);
  --vscode-editorInlayHint-typeForeground: #969696;
  --vscode-editorInlayHint-typeBackground: rgba(77, 77, 77, 0.1);
  --vscode-editorInlayHint-parameterForeground: #969696;
  --vscode-editorInlayHint-parameterBackground: rgba(77, 77, 77, 0.1);
  --vscode-editorLightBulb-foreground: #ffcc00;
  --vscode-editorLightBulbAutoFix-foreground: #75beff;
  --vscode-diffEditor-insertedTextBackground: rgba(156, 204, 44, 0.2);
  --vscode-diffEditor-removedTextBackground: rgba(255, 0, 0, 0.2);
  --vscode-diffEditor-insertedLineBackground: rgba(155, 185, 85, 0.2);
  --vscode-diffEditor-removedLineBackground: rgba(255, 0, 0, 0.2);
  --vscode-diffEditor-diagonalFill: rgba(204, 204, 204, 0.2);
  --vscode-diffEditor-unchangedRegionBackground: #3e3e3e;
  --vscode-diffEditor-unchangedRegionForeground: #a3a2a2;
  --vscode-diffEditor-unchangedCodeBackground: rgba(116, 116, 116, 0.16);
  --vscode-list-focusOutline: #007fd4;
  --vscode-list-activeSelectionBackground: #04395e;
  --vscode-list-activeSelectionForeground: #ffffff;
  --vscode-list-inactiveSelectionBackground: #37373d;
  --vscode-list-hoverBackground: #2a2d2e;
  --vscode-list-dropBackground: #062f4a;
  --vscode-list-highlightForeground: #2aaaff;
  --vscode-list-focusHighlightForeground: #2aaaff;
  --vscode-list-invalidItemForeground: #b89500;
  --vscode-list-errorForeground: #f88070;
  --vscode-list-warningForeground: #cca700;
  --vscode-listFilterWidget-background: var(--background) !important;
  --vscode-listFilterWidget-outline: rgba(0, 0, 0, 0);
  --vscode-listFilterWidget-noMatchesOutline: #be1100;
  --vscode-listFilterWidget-shadow: rgba(0, 0, 0, 0.36);
  --vscode-list-filterMatchBackground: rgba(234, 92, 0, 0.33);
  --vscode-tree-indentGuidesStroke: #585858;
  --vscode-tree-inactiveIndentGuidesStroke: rgba(88, 88, 88, 0.4);
  --vscode-tree-tableColumnsBorder: rgba(204, 204, 204, 0.13);
  --vscode-tree-tableOddRowsBackground: rgba(204, 204, 204, 0.04);
  --vscode-list-deemphasizedForeground: #8c8c8c;
  --vscode-checkbox-background: var(--background) !important;
  --vscode-checkbox-selectBackground: var(--background) !important;
  --vscode-checkbox-foreground: var(--color) !important;
  --vscode-checkbox-border: var(--background) !important;
  --vscode-checkbox-selectBorder: #c5c5c5;
  --vscode-quickInputList-focusForeground: #ffffff;
  --vscode-quickInputList-focusBackground: #04395e;
  --vscode-menu-foreground: var(--color) !important;
  --vscode-menu-background: var(--background) !important;
  --vscode-menu-selectionForeground: #ffffff;
  --vscode-menu-selectionBackground: #04395e;
  --vscode-menu-separatorBackground: #606060;
  --vscode-toolbar-hoverBackground: rgba(90, 93, 94, 0.31);
  --vscode-toolbar-activeBackground: rgba(99, 102, 103, 0.31);
  --vscode-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
  --vscode-editor-snippetFinalTabstopHighlightBorder: #525252;
  --vscode-breadcrumb-foreground: rgba(204, 204, 204, 0.8);
  --vscode-breadcrumb-background: var(--background-light) !important;
  --vscode-breadcrumb-focusForeground: #e0e0e0;
  --vscode-breadcrumb-activeSelectionForeground: #e0e0e0;
  --vscode-breadcrumbPicker-background: var(--background) !important;
  --vscode-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
  --vscode-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
  --vscode-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
  --vscode-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
  --vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
  --vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
  --vscode-editorOverviewRuler-currentContentForeground: rgba(
    64,
    200,
    174,
    0.5
  );
  --vscode-editorOverviewRuler-incomingContentForeground: rgba(
    64,
    166,
    255,
    0.5
  );
  --vscode-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
  --vscode-editorOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
  --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(
    160,
    160,
    160,
    0.8
  );
  --vscode-minimap-findMatchHighlight: #d18616;
  --vscode-minimap-selectionOccurrenceHighlight: #676767;
  --vscode-minimap-selectionHighlight: #264f78;
  --vscode-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
  --vscode-minimap-warningHighlight: #cca700;
  --vscode-minimap-foregroundOpacity: #000000;
  --vscode-minimapSlider-background: rgba(121, 121, 121, 0.2);
  --vscode-minimapSlider-hoverBackground: rgba(100, 100, 100, 0.35);
  --vscode-minimapSlider-activeBackground: rgba(191, 191, 191, 0.2);
  --vscode-problemsErrorIcon-foreground: #f14c4c;
  --vscode-problemsWarningIcon-foreground: #cca700;
  --vscode-problemsInfoIcon-foreground: #3794ff;
  --vscode-charts-foreground: #cccccc;
  --vscode-charts-lines: rgba(204, 204, 204, 0.5);
  --vscode-charts-red: #f14c4c;
  --vscode-charts-blue: #3794ff;
  --vscode-charts-yellow: #cca700;
  --vscode-charts-orange: #d18616;
  --vscode-charts-green: #89d185;
  --vscode-charts-purple: #b180d7;
  --vscode-diffEditor-move-border: rgba(139, 139, 139, 0.61);
  --vscode-diffEditor-moveActive-border: #ffa500;
  --vscode-symbolIcon-arrayForeground: #cccccc;
  --vscode-symbolIcon-booleanForeground: #cccccc;
  --vscode-symbolIcon-classForeground: #ee9d28;
  --vscode-symbolIcon-colorForeground: #cccccc;
  --vscode-symbolIcon-constantForeground: #cccccc;
  --vscode-symbolIcon-constructorForeground: #b180d7;
  --vscode-symbolIcon-enumeratorForeground: #ee9d28;
  --vscode-symbolIcon-enumeratorMemberForeground: #75beff;
  --vscode-symbolIcon-eventForeground: #ee9d28;
  --vscode-symbolIcon-fieldForeground: #75beff;
  --vscode-symbolIcon-fileForeground: #cccccc;
  --vscode-symbolIcon-folderForeground: #cccccc;
  --vscode-symbolIcon-functionForeground: #b180d7;
  --vscode-symbolIcon-interfaceForeground: #75beff;
  --vscode-symbolIcon-keyForeground: #cccccc;
  --vscode-symbolIcon-keywordForeground: #cccccc;
  --vscode-symbolIcon-methodForeground: #b180d7;
  --vscode-symbolIcon-moduleForeground: #cccccc;
  --vscode-symbolIcon-namespaceForeground: #cccccc;
  --vscode-symbolIcon-nullForeground: #cccccc;
  --vscode-symbolIcon-numberForeground: #cccccc;
  --vscode-symbolIcon-objectForeground: #cccccc;
  --vscode-symbolIcon-operatorForeground: #cccccc;
  --vscode-symbolIcon-packageForeground: #cccccc;
  --vscode-symbolIcon-propertyForeground: #cccccc;
  --vscode-symbolIcon-referenceForeground: #cccccc;
  --vscode-symbolIcon-snippetForeground: #cccccc;
  --vscode-symbolIcon-stringForeground: #cccccc;
  --vscode-symbolIcon-structForeground: #cccccc;
  --vscode-symbolIcon-textForeground: #cccccc;
  --vscode-symbolIcon-typeParameterForeground: #cccccc;
  --vscode-symbolIcon-unitForeground: #cccccc;
  --vscode-symbolIcon-variableForeground: #75beff;
  --vscode-actionBar-toggledBackground: rgba(0, 127, 212, 0.4);
  --vscode-editor-lineHighlightBorder: #282828;
  --vscode-editor-rangeHighlightBackground: rgba(255, 255, 255, 0.04);
  --vscode-editor-symbolHighlightBackground: rgba(234, 92, 0, 0.33);
  --vscode-editorCursor-foreground: #aeafad;
  --vscode-editorWhitespace-foreground: rgba(227, 228, 226, 0.16);
  --vscode-editorLineNumber-foreground: #858585;
  --vscode-editorIndentGuide-background: rgba(227, 228, 226, 0.16);
  --vscode-editorIndentGuide-activeBackground: rgba(227, 228, 226, 0.16);
  --vscode-editorIndentGuide-background1: #404040;
  --vscode-editorIndentGuide-background2: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-background3: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-background4: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-background5: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-background6: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground1: #707070;
  --vscode-editorIndentGuide-activeBackground2: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground3: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground4: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground5: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground6: rgba(0, 0, 0, 0);
  --vscode-editorActiveLineNumber-foreground: #c6c6c6;
  --vscode-editorLineNumber-activeForeground: #c6c6c6;
  --vscode-editorRuler-foreground: #5a5a5a;
  --vscode-editorCodeLens-foreground: #999999;
  --vscode-editorBracketMatch-background: rgba(0, 100, 0, 0.1);
  --vscode-editorBracketMatch-border: #888888;
  --vscode-editorOverviewRuler-border: rgba(127, 127, 127, 0.3);
  --vscode-editorGutter-background: var(--background-light) !important;
  --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
  --vscode-editorGhostText-foreground: rgba(255, 255, 255, 0.34);
  --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
  --vscode-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
  --vscode-editorOverviewRuler-warningForeground: #cca700;
  --vscode-editorOverviewRuler-infoForeground: #3794ff;
  --vscode-editorBracketHighlight-foreground1: #ffd700;
  --vscode-editorBracketHighlight-foreground2: #da70d6;
  --vscode-editorBracketHighlight-foreground3: #179fff;
  --vscode-editorBracketHighlight-foreground4: rgba(0, 0, 0, 0);
  --vscode-editorBracketHighlight-foreground5: rgba(0, 0, 0, 0);
  --vscode-editorBracketHighlight-foreground6: rgba(0, 0, 0, 0);
  --vscode-editorBracketHighlight-unexpectedBracket-foreground: rgba(
    255,
    18,
    18,
    0.8
  );
  --vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
  --vscode-editorUnicodeHighlight-border: #bd9b03;
  --vscode-editorUnicodeHighlight-background: rgba(189, 155, 3, 0.15);
  --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
  --vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
  --vscode-editor-wordHighlightBackground: rgba(87, 87, 87, 0.72);
  --vscode-editor-wordHighlightStrongBackground: rgba(0, 73, 114, 0.72);
  --vscode-editor-wordHighlightTextBackground: rgba(87, 87, 87, 0.72);
  --vscode-editorOverviewRuler-wordHighlightForeground: rgba(
    160,
    160,
    160,
    0.8
  );
  --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(
    192,
    160,
    192,
    0.8
  );
  --vscode-editorOverviewRuler-wordHighlightTextForeground: rgba(
    160,
    160,
    160,
    0.8
  );
  --vscode-peekViewTitle-background: var(--background) !important;
  --vscode-peekViewTitleLabel-foreground: #ffffff;
  --vscode-peekViewTitleDescription-foreground: rgba(204, 204, 204, 0.7);
  --vscode-peekView-border: #3794ff;
  --vscode-peekViewResult-background: var(--background) !important;
  --vscode-peekViewResult-lineForeground: #bbbbbb;
  --vscode-peekViewResult-fileForeground: #ffffff;
  --vscode-peekViewResult-selectionBackground: rgba(51, 153, 255, 0.2);
  --vscode-peekViewResult-selectionForeground: #ffffff;
  --vscode-peekViewEditor-background: #001f33;
  --vscode-peekViewEditorGutter-background: #001f33;
  --vscode-peekViewEditorStickyScroll-background: #001f33;
  --vscode-peekViewResult-matchHighlightBackground: rgba(234, 92, 0, 0.3);
  --vscode-peekViewEditor-matchHighlightBackground: rgba(255, 143, 0, 0.6);
  --vscode-editorMarkerNavigationError-background: #f14c4c;
  --vscode-editorMarkerNavigationError-headerBackground: rgba(241, 76, 76, 0.1);
  --vscode-editorMarkerNavigationWarning-background: #cca700;
  --vscode-editorMarkerNavigationWarning-headerBackground: rgba(
    204,
    167,
    0,
    0.1
  );
  --vscode-editorMarkerNavigationInfo-background: #3794ff;
  --vscode-editorMarkerNavigationInfo-headerBackground: rgba(55, 148, 255, 0.1);
  --vscode-editorHoverWidget-highlightForeground: #2aaaff;
  --vscode-editorSuggestWidget-background: var(--background) !important;
  --vscode-editorSuggestWidget-border: transparent !important;
  --vscode-editorSuggestWidget-foreground: #d4d4d4;
  --vscode-editorSuggestWidget-highlightForeground: #2aaaff;
  --vscode-editorSuggestWidget-focusHighlightForeground: #2aaaff;
  --vscode-editorSuggestWidgetStatus-foreground: rgba(212, 212, 212, 0.5);
  --vscode-editor-foldBackground: rgba(38, 79, 120, 0.3);
  --vscode-editorGutter-foldingControlForeground: #c5c5c5;
}

.contexify_itemContent {
  padding: 4px 8px;
  border-radius: 8px !important;
  gap: 8px;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}

.contexify * {
  font-size: 14px;
}

.contexify_itemContent:nth-last-child():hover {
  background: var(--red) !important;
  color: var(--background) !important;
}

.contexify_itemContent:hover {
  background: var(--color) !important;
  color: var(--background) !important;
}

.contexify_itemContent:hover .key,
.contexify_itemContent:hover svg {
  color: var(--background) !important;
}

.contexify {
  padding: 2px !important;
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}
.contexify_itemContent svg {
  color: var(--color);
}
:root {
  --contexify-menu-bgColor: var(--background-light) !important;
  --contexify-separator-color: var(--background-dark) !important;
  --contexify-item-color: var(--color) !important;
  --contexify-rightSlot-color: var(--color) !important;
  --contexify-activeRightSlot-color: #17191b !important;
  --contexify-arrow-color: var(--background-dark) !important;
}

html {
  --contexify-activeItem-color: var(--background-dark);
  --contexify-activeItem-bgColor: var(--color);
}

.key span {
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  border: 1px solid var(--background-light);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 0px 4px;
  margin: 0px 3px;
  font-family: "SF Mono", monospace;
  font-size: 12px;
  max-height: 22px;
  display: inline-flex;
  align-items: center;
}

.margin-view-overlays {
  user-select: none;
}